body {
    background-color: #e3e3e3;
    height: 100%;
    margin: auto;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 25%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('sahur.jpg') center / cover no-repeat;
}

.web-header, .web-body, .web-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 1;
}

.web-header {
    width: 100%;
    background-color: #2f2b40;
    color: white;
}

.web-body {
    height: 100%;
    background-color: white;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 50%;
    color: black;
}

.web-footer {
    height: 50px;
    width: 100%;
    background-color: #2f2b40;
    color: white;
}

.img-display {
    width: 300px;
    aspect-ratio: 16 / 9;
}